[Unit]
Description=ChBoot Mount
ConditionPathExists=|/dev/disk/by-label/chboot
ConditionPathExists=|/dev/disk/by-partlabel/chboot

[Mount]
After=chboot.service
What=/dev/disk/by-label/chboot
Where=/chboot
Type=auto
Options=rw,defaults,noauto

[Install]
WantedBy=local-fs.target

